
<div class="container">

    <div class="card shadow">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1 class="h5 mb-3 fw-normal">Doctor Login</h1>

            <div class="form-group mt-3">
                <label class="form-label" for="floatingInput">Email address</label>
                <input type="email" class="form-control" formControlName="email"
                    placeholder="name@example.com">
            </div>

            <div class="form-group mt-3">
                <label class="form-label" for="floatingPassword">Password</label>
                <input type="password" class="form-control" formControlName="password" 
                    placeholder="Password">
            </div>
             
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-sm btn-primary mt-3">Login</button>
            <p class="mt-3">New User? <a routerLink="/doctor/docregister">Log In</a></p>
            
        </form>
    </div>
</div>