<form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="container col-4">
        <div class="mb-3">
            <label for="childName" class="form-label">Child’s name:</label>
            <input type="text" class="form-control" formControlName="childName" id="childName"
                placeholder="Enter name here">
        </div>
    </div>

    <div class="container col-4">
        <label for="gender">Child’s gender:</label>
        <div id="gender">
            <input class="form-check-input me-1" formControlName="gender" type="radio" value="1"> Male
            <input class="form-check-input me-1" formControlName="gender" type="radio" value="0"> Female
        </div>
    </div>


    <div class="container col-4">
        <label> What is the age of the child? (months)</label><br>
        <label for="age"> Age: {{age.value}}</label>
        <mdb-range [min]="12" #age [max]="36" formControlName="age" (input)="age.value"></mdb-range>
    </div>

    <div class="container col-4">
        <label for="jaundice" class="form-label">Did your child ever suffer from jaundice?</label>
        <div id="jaundice">
            <input class="form-check-input me-1" formControlName="jaundice" type="radio" value="1"> Yes
            <input class="form-check-input me-1" formControlName="jaundice" type="radio" value="0"> No
        </div>
    </div>


    <div class="container col-4">
        <label for="family" class="form-label">Does anyone closely related to the child suffer from autism?</label>
        <div id="family">
            <input class="form-check-input me-1" formControlName="family" type="radio" value="1"> Yes
            <input class="form-check-input me-1" formControlName="family" type="radio" value="0"> No
        </div>
    </div>

    <div class="container col-4">
        <label for="who" class="form-label">Does anyone closely related to the child suffer from autism?</label>
        <div id="who">
            <input class="form-check-input me-1" formControlName="who" type="radio" value="1"> Family Member
            <input class="form-check-input me-1" formControlName="who" type="radio" value="2"> Healthcare Professional
            <input class="form-check-input me-1" formControlName="who" type="radio" value="0"> Others
        </div>
    </div>


    <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="!detailsForm.valid" class="btn btn-primary mt-3 mb-5">Submit</button>
    </div>
</form>