<body>
  <div class="container mt-3">

      <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom border-5">
            <a routerLink="" routerLinkActive="active" class="d-flex align-items-center text-dark text-decoration-none">
                <span >Home</span>
             </a>

              <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                  
              </nav>

              <div class="text-end ">
                  <button *ngIf="!docauth.isLoggedIn()" type="button" class="btn btn-primary btn-rounded me-2" routerLink="doclogin" >Login</button>
                  <button *ngIf="!docauth.isLoggedIn()" type="button" class="btn btn-warning btn-rounded " routerLink="docregister" >Register</button>
                  <button *ngIf="docauth.isLoggedIn()" type="button" class="btn btn-danger btn-rounded" (click)="docauth.logout()">Logout</button>
              </div>

          </div>
      </header>

      <main>
          <div class="container">
              <router-outlet></router-outlet>
          </div>
      </main>

    
  </div>

</body>
