mdb-carousel-item {
    margin-bottom: 5%;
}

.outer-container{
  justify-content: center;
  align-items: center;
  }

.outer-container{
  backdrop-filter: blur(3px);
  padding: 5%;
  }

.card{
    background-color: rgba(62, 109, 240, 0.3);
}

.list-group-item{
  background-color: rgba(62, 109, 240, 0.3);
}