@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tourney:wght@500&display=swap');


span{
  font-size: 2rem;
  font-family: 'Tourney', cursive;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
