<form (ngSubmit)="submit()" [formGroup]="form">

    <input formControlName="name" type="text">
    <input formControlName="designation" type="text">
    <input formControlName="experience" type="password">
    <input formControlName="contact" type="password">
    <input formControlName="email" type="email">
    <input formControlName="password" type="password">
    <input formControlName="checkPassword"  type="password">
    

    <button [disabled]="!form.valid" type="submit">Submit</button>
</form>